{% extends 'revista/base.html' %}
{% block content %}
<h2>Listado de publicadores</h2>
<a class="btn" href="{% url 'publisher_create' %}">Agregar publicador</a>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Acciones</th>
  </tr>
  {% for p in publishers %}
  <tr>
    <td>{{ p.first_name }}</td>
    <td>{{ p.last_name }}</td>
    <td>{{ p.email }}</td>
    <td>
      <a class="btn" href="{% url 'publisher_detail' p.id %}">Ver</a>
      <a class="btn" href="{% url 'publisher_edit' p.id %}">Editar</a>
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="4">No hay publicadores registrados.</td></tr>
  {% endfor %}
</table>
{% endblock %}
