{% extends 'revista/base.html' %}
{% block content %}
<h2>Listado de estudiantes</h2>
<a class="btn" href="{% url 'student_create' %}">Agregar estudiante</a>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Carnet</th>
    <th>Email</th>
    <th>Acciones</th>
  </tr>
  {% for s in students %}
  <tr>
    <td>{{ s.first_name }}</td>
    <td>{{ s.last_name }}</td>
    <td>{{ s.student_id }}</td>
    <td>{{ s.email }}</td>
    <td>
      <a class="btn" href="{% url 'student_detail' s.id %}">Ver</a>
      <a class="btn" href="{% url 'student_edit' s.id %}">Editar</a>
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="5">No hay estudiantes registrados.</td></tr>
  {% endfor %}
</table>
{% endblock %}
